canvas {
    width: 500px;
    aspect-ratio: 1/1;
    border: 1px solid black;
}

.paintButton{
    padding: 10px 10px 10px 10px;
}

.drawingArea {
  width: 500px;
background-color: beige;
  
}

.catContainer{
    display: flex;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
    align-content: end;
}

#neko {
    height: 100%;
}

.cat-frame{
    position: relative;
}

.cat-image{
    position: absolute;
}